<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<main_app_settings>
    <products_in_stock>
        <productsInStockEnabled>true</productsInStockEnabled>
        <invoicesFromStock>true</invoicesFromStock>
        <sellsFromStock>true</sellsFromStock>
    </products_in_stock>
</main_app_settings>
