<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<main_app_settings>
    <products_in_stock>
        <productsInStockEnabled>true</productsInStockEnabled>
        <invoicesFromStock>true</invoicesFromStock>
        <sellsFromStock>true</sellsFromStock>
        <autoVat>true</autoVat>
        <autoExtraPrice>true</autoExtraPrice>
        <autoBackupEnabled>true</autoBackupEnabled>
        <autoBackupOnStart>true</autoBackupOnStart>
        <autoBackupOnStop>true</autoBackupOnStop>
        <autoBackupPath>E:\clips\F1</autoBackupPath>
    </products_in_stock>
</main_app_settings>
